<%= render('layouts/errors', object: @comment) %>

<%= form_for [@post, @comment], remote: true do |f| %>
  <div class="form group">
    <%= f.label :date %>
    <%= f.date_field :date, class: 'form-control', required: true, autofocus: true %>
    <br>
    <%= f.label :comment %>
    <%= f.text_area :comment, size: "30x6", class: 'form-control', required: true %>
    <br>
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
<br>
<%= link_to "Hide Form", post_path(@post), class: 'hide_form' %>
