<% content_for(:title, "Rails Blogger | " + @post.title) %>
<h1><%= @post.title %></h1>

<h4>Date: <%= @post.date %></h4>

<p class="well"><%= @post.blog %></p>

<%= link_to "Back to Posts", posts_path %>

<hr>

<% if @post.comments.any? %>
  <h4>Here are the comments for this post:</h4>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.date %>
        <%= link_to "Edit", edit_post_comment_path(@post, comment), class: 'btn btn-primary btn-xs' %>
        <%= link_to "Delete", post_comment_path(@post, comment), class: 'btn btn-danger btn-xs',
                                data: {:confirm => "Delete Comment?",
                                       :method => "delete"} %>
        <br>
        <div class="well">
          <%= comment.comment %>
        </div>
        <hr>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments yet!</p>
<% end %>

<p><%= link_to "Add a Comment", new_post_comment_path(@post) %></p>
